
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
} 
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

#navbar {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    background-color: rgba(0, 0, 0, 0.5); /* Background color for the navbar */
    padding: 10px; /* Add some padding */
    position: fixed; /* Fix the navbar at the bottom */
    width: 100%; /* Full width */
    z-index: 999; /* Ensure it's above other elements */
    bottom: 0; /* Position at the bottom */
}



#center_title {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
}

#portfolio-right ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
}

#portfolio-right ul li {
    margin-bottom: 10px; /* Adjust spacing between list items */
}

#bottom-link {
    position: fixed;
    bottom: -700px; /* Adjust the distance from the bottom as needed */
    left: 50%;
    transform: translateX(-50%);
}
#portfolio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    width: 80%; /* Adjust width as needed */
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

#portfolio-left, #portfolio-right {
    flex: 1;
}

#portfolio-right {
    text-align: right;
}

h1 {
    margin: 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}

#projects-button {
    position: fixed;
    bottom: 20px; /* Adjust the value as needed */
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Set a high z-index value */
}


/* Stars */
#stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
}

/* Star animation */
@keyframes twinkling {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}


/* Planets */
.planet {
    border-radius: 50%;
    transform-origin: center;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, .75) /* Inner glow effect */
}


/* Individual planet styles */

#mercury {
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #aa563f;
    top: 50%;
    left: 50%;
    animation: orbit-mercury 4s linear infinite; 
}

#venus {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: #b19e95;
    top: 50%;
    left: 50%;
    animation: orbit-venus 8s linear infinite; 
}

#earth {
    width: 35px;
    height: 35px;
    background-color: #5d97c3; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-earth 12s linear infinite;
}

#mars {
    width: 25px;
    height: 25px;
    background-color: #aa563f; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-mars 18s linear infinite;
}

#jupiter {
    width: 70px;
    height: 70px;
    background-color: #b19e95; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-jupiter 30s linear infinite;
}

#saturn {
    width: 60px;
    height: 60px;
    background-color: #dcc9b6; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-saturn 45s linear infinite;
}

#uranus {
    width: 45px;
    height: 45px;
    background-color: #79a2c2; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-uranus 60s linear infinite;
}

#neptune {
    width: 40px;
    height: 40px;
    background-color: #366494; 
    position: absolute;
    top: 50%;
    left: 50%;
    animation: orbit-neptune 80s linear infinite;
}

#sun {
    width: 50px; 
    height: 50px; 
    background-color: yellow;
    border-radius: 50%; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.8); /* Outer glow effect */
}

@keyframes orbit-mercury {
    from { transform: rotate(0deg) translateX(80px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(80px) rotate(0deg); }
}

@keyframes orbit-venus {
    from { transform: rotate(0deg) translateX(120px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(120px) rotate(0deg); }
}

@keyframes orbit-earth {
    from { transform: rotate(0deg) translateX(160px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(160px) rotate(0deg); }
}

@keyframes orbit-mars {
    from { transform: rotate(0deg) translateX(200px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(200px) rotate(0deg); }
}

@keyframes orbit-jupiter {
    from { transform: rotate(0deg) translateX(240px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(240px) rotate(0deg); }
}

@keyframes orbit-saturn {
    from { transform: rotate(0deg) translateX(280px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(280px) rotate(0deg); }
}

@keyframes orbit-uranus {
    from { transform: rotate(0deg) translateX(320px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(320px) rotate(0deg); }
}

@keyframes orbit-neptune {
    from { transform: rotate(0deg) translateX(360px) rotate(0deg); }
    to { transform: rotate(360deg) translateX(360px) rotate(0deg); }
}
